<!-- OVERLAY BLOCCO TEMPO MASSIMO -->
<div class="app-block-overlay" *ngIf="blockedLimit">
  <div class="overlay-content">
    ⏳ Hai raggiunto il tempo massimo di utilizzo!<br><br>
    Potrai tornare a giocare alle <strong>{{ unblockLimitTime }}</strong>
  </div>
</div>

<!-- OVERLAY ATTIVITÀ ANALOGICA -->
<div class="app-block-analog-overlay" *ngIf="currentStep.blockedAnalog">
  <div class="overlay-content">
    È il momento della missione analogica!<br><br>
    {{ currentStep.description }}<br><br>
  </div>
</div>

<!-- OVERLAY BADGE -->
<div class="achievement-overlay" *ngIf="showAchievement" (animationend)="onAnimationEnd()">
  <div class="achievement" *ngIf="showAchievement" (animationend)="onAnimationEnd()">
    <img [src]="currentGame.sigillo" alt="Badge" class="badge-img" />
    <p class="badge-text">Hai sbloccato un nuovo sigillo!</p>
  </div>
</div>


<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{ currentGame.title }}</span>
  </div>
</nav>

<div class="container-fluid main-container mt-4 px-5">
  <div class="row g-4">

    <!-- COLONNA GIOCO -->
    <div class="col-12 col-lg-7 d-flex flex-column">

      <!-- Contenitore iframe -->
      <div #iframeContainer class="ratio ratio-4x3 mb-3 border rounded shadow-sm overflow-hidden flex-grow-1"></div>

      <!-- Pulsanti controllo -->
      <div class="d-flex gap-3 mt-3">
        <button class="btn btn-primary btn-lg" [disabled]="!currentStep.completedEnabled" (click)="markStepCompleted()">
          {{ currentStep.completedEnabled ? '⏳ Segna come completato' : '✅ Completato' }}
        </button>

        <button class="btn btn-success btn-lg" [disabled]="!currentStep.nextGameEnabled" (click)="goToNextGameStep()">
          ▶️ Prossimo gioco
        </button>
      </div>

    </div>

    <!-- COLONNA CHAT -->
    <div class="col-12 col-lg-5 d-flex flex-column">
      <app-chat [disabled]="!currentStep.chatEnabled"
        [initialMessage]="currentStep.chatEnabled ? currentStep.description : undefined"
        [sigillo]="currentStep.chatEnabled ? currentStep.sigillo : undefined" class="flex-grow-1"></app-chat>
    </div>

  </div>
</div>

<div class="container-fluid main-container mt-4 px-5">
  <div class="game-book" *ngIf="currentIndex != 0">
    Il diario del tuo Viaggio<br>
    <img [src]="currentBook" alt="Il mio diario" class="game-background" />
  </div>
</div>