<footer class="footer bg-custom text-white py-3">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      <!-- Sezione sinistra: loghi enti finanziatori -->
      <div class="col-md-4 mb-2 mb-md-0 justify-content-center justify-content-md-start gap-3">
        <img src="assets/logo_scudo_unicam.png" alt="Logo UNICAM" class="logo-img" />
        <img src="assets/logo-cooss.png" alt="COOSS" class="logo-img" />
        <p>Referente: Prof.ssa Barbara Re (<a href="mailto:barbara.re@unicam.it">barbara.re&#64;unicam.it</a>)</p>
      </div>

      <!-- Sezione centrale: copyright -->
      <div class="col-md-4 mb-2 mb-md-0">
        <p class="mb-0" style="text-align: center; vertical-align: middle;">Aiutaci a migliorare!<br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScrenQrpzC6AhWsGuFjcn9h9PGh26NLTB_UluBF2yWxtNYDuQ/viewform?usp=dialog" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info">
          Compila il form
        </a>
        <br><br>
        </p>
        <p class="mb-0" style="text-align: center;">&copy; 2025 Unicam - Università di Camerino. <br>Tutti i diritti
          riservati.</p>
      </div>

      <!-- Sezione destra: denominazione progetto -->
      <div class="col-md-4 text-center text-md-end">
        <p class="mb-0">PROGETTI SPERIMENTALI A VALENZA E IMPATTO NAZIONALE IN MATERIA DI PREVENZIONE E CONTRASTO DELLE
          DIPENDENZE COMPORTAMENTALI E DA SOSTANZE NELLE GIOVANI GENERAZIONI (Legge 30/12/2021, n. 234, art. 1, comma
          157)</p>
      </div>
    </div>
  </div>
</footer>