
<div class="main-content">
  <router-outlet />
  <!-- Se non loggato mostra login -->
  <app-login *ngIf="!username && !adminMode" (loggedIn)="onLoggedIn()" (adminLoggedIn)="onAdminLoggedIn()">
  </app-login>

  <!-- Se loggato mostra home -->
  <div *ngIf="username">
    <!-- Navbar semplice con nome e logout -->
    <nav class="navbar navbar-light bg-light shadow-sm">
      <div class="container-fluid">
        <span class="navbar-brand">
          <img src="assets/logo_scudo_unicam.png" alt="Logo UNICAM" class="navbar-logo" />
          <img src="assets/logo-cooss.png" alt="COOSS" class="navbar-logo" />
        </span>
        <span class="navbar-user">
          Piacere di vederti, {{ username }}
          <button class="btn btn-outline-secondary btn-sm" (click)="logout()">Esci</button>
        </span>


      </div>
    </nav>

    <!-- componente principale -->
    <app-home></app-home>
  </div>

  <!-- Se loggato come admin -->
  <div *ngIf="adminMode">
    <app-admin (exitAdmin)="onAdminLoggedOut()"></app-admin>
  </div>

</div>
<app-footer></app-footer>