:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.navbar-logo {
    height: 3.5rem;
    margin-right: 0.1rem;
    vertical-align: middle;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-user {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}